#parse("/velocity/layout.vm")
#@mainLayout()
    #if($actor)
    <h1>$actor.getName()</h1>
    <div class="actor">
    <ul>
    <li>nationality: $actor.getNationality()</li>
    <li>birthDate: $actor.getBirthDate()</li>
    </ul>
    <h3>Movies:</h3>
    #foreach($movie in $actor.getMovies())
        <a class="movie" href="/movies/$movie.getId()">$movie.name</a>
        <p>imdb rate: $movie.getImdbRate()</p>
        <p>rating: $movie.getRating()</p>
    #end
    </div>
    #else
    <h1> ACTOR NOT FOUND</h1>
    #end
#end