@font-face {
 font-family: Vazir;
 font-style: normal;
 font-weight: normal;
 src: url('fonts/vazir-fonts/Vazir.eot');
 src: url('fonts/vazir-fonts/Vazir.eot?#iefix') format('embedded-opentype'),
 url('fonts/vazir-fonts/Vazir.woff2') format('woff2'),
 url('fonts/vazir-fonts/Vazir.woff') format('woff'),
 url('fonts/vazir-fonts/Vazir.ttf') format('truetype');
}
@font-face {
 font-family: Vazir;
 font-style: normal;
 font-weight: bold;
 src: url('fonts/vazir-fonts/Vazir-Bold.eot');
 src: url('fonts/vazir-fonts/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
 url('fonts/vazir-fonts/Vazir-Bold.woff2') format('woff2'),
 url('fonts/vazir-fonts/Vazir-Bold.woff') format('woff'),
 url('fonts/vazir-fonts/Vazir-Bold.ttf') format('truetype');
}

body, html{
    background-color: #292929;
    font-family: 'Vazir', Arial, sans-serif;
    font-weight:normal;
    font-color:white;
}

.container-fluid{
    padding:0px;
    display: flex;
 }
.navbar-header{
    padding:0px;
    margin-left:0px;
}
.logo{
    width: 50px;
    height: 50px;
}
.dropdown{
    font-color:white;
}
.dropdown-toggle{
    border-radius:4px;
    color:#aaa199;
}
.dropdown-menu>li>a {
    color:#ffffff;
}
.default-navbar{
    background-color: #b12025;
    border:0px;
}
.container {
    padding-top: 70px;
    float: right;
    display: flex;
    justify-content: end;
}

.title{
    color:white;
}
.btn-search{
    background:white;
}
.form-control{
    background:white;
    border:0px;
}
.glyphicon{
    color:#b12025;
}
.caret{
    color:#b12025;
}
.dropdown-menu{
    background-color:#b12025;
    opacity:0.7;
    font-color:white;
}
.user-icon{
    background-color:#292929;
    border-radius:20px;
}
.user{
    float:right;
    align:right;
    position:right;
}
img.poster{
    width:150px;
    height:150px;
}