.movies{
    display:flex;
    flex-wrap:wrap;
}
.sort{
    background-color:#b12025;
    border-radius:5px;
    display:flex;
    flex:center;
}

.btn-link{
    color:white;
    align:center
}
.watch-list{
    width:50%;
    align:center;
}
.watch-list-item{
    background-color: #4e4e50;
    font-color:white;
    border-radius:15px;
}
.recommends{
    background-color: #4e4e50;
    font-color:white;
    border-radius:15px;
    align:center;
}
.recommend-movie{
    display:flex;
    flex-wrap:wrap;
}




