.movies{
    display:flex;
    flex-wrap:wrap;
}
.sort-bar{
    width:min-content;
}
.sort{
    background-color:#b12025;
    border-radius:5px;
    display:flex;
    flex:center;
}
.sort-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.btn-link{
    color:white;
    align:center
}
.watch-list{
    width:50%;
    align:center;
}
.watch-list-item{
    background-color: #4e4e50;
    font-color:white;
    border-radius:15px;
}
.recommends{
    background-color: #4e4e50;
    font-color:white;
    border-radius:15px;
    align:center;
}
.recommend-movie{
    display:flex;
    flex-wrap:wrap;
}

.movies{
    display:flex;
    flex:wrap;
    align: stretch;
    align-content:space-between;
    gap:10px 10px;
}



