#parse("/velocity/layout.vm")
#@mainLayout()
    #if($movie)
    <h1>$movie.getName()</h1>
    <h2>By $movie.getDirector()</h2>
    <div class="movie">
    <p> summary: $movie.getSummary()</p>
    <p> release date: $movie.getReleaseDate()</p>
    <p> director: $movie.getDirector()</p>
    <p> writers: $movie.getWriters()</p>
    <p> genre: $movie.getGenres()</p>
    <p> cast:
    #foreach($actor in $movie.getCast())
    <a class="actor" href="/actors/$actor.getId()"> $actor.name</a>,
    #end
    ...</p>
    <p>imdb rate: $movie.getImdbRate()</p>
    <p>rating: $movie.getRating()</p>
    <p>duration: $movie.getDuration()</p>
    <p>age limit: $movie.getAgeLimit()</p>
    <h3>comments:</h3>
    #foreach($comment in $movie.getComments())
        <p>$comment.getUserName(): $comment.getText()
        <br>    Likes: $comment.like()   DisLikes: $comment.disLike()
        </p>
    #end
    </div>
    #else
    <h1>MOVIE NOT FOUND</h1>
    #end
#end