#parse("/velocity/layout.vm")
#@mainLayout()
    #if($movie)
    <h1>$movie.getName()</h1>
    <h2>By $movie.getDirector()</h2>
    <div class="movie">
    <p> summary: $movie.getSummary()</p>
    <p> release date: $movie.getReleaseDate()</p>
    <p> director: $movie.getDirector()</p>
    <p> writers: $movie.getWriters()</p>
    <p> genre: $movie.getGenres()</p>
    <p> cast:
    #foreach($actor in $movie.getCast())
    <a class="actor" href="/actors/$actor.getId()"> $actor.name</a>,
    #end
    ...</p>
    <p>imdb rate: $movie.getImdbRate()</p>
    <p>rating: $movie.getRating()</p>
    <p>duration: $movie.getDuration() minutes</p>
    <p>age limit: $movie.getAgeLimit()+</p>
    <button class="button" onclick="window.location.href='https://en.wikipedia.org/wiki/$movie.name';">
    See More
    </button>

    <label>Enter Your Email:</label>
    <input type="text" name="user_id" value="" />
    <br><br>
    <form action="/rateMovie/inForm" method="POST">
      <label>Rate(between 1 and 10):</label>
      <input type="number" id="rate" name="rate" min="1" max="10">
      <button class="button" type="submit">rate</button>
    </form>
    <br>
    <form action="/watchList/inForm/$movie.id" method="POST">
        <label>Enter Your Email:</label>
        <input type="text" id="user_id" name="user_id" value=""/>
        <button class="button" type="submit">Add to WatchList</button>
    </form>
    <h3>comments:</h3>
    #foreach($comment in $movie.getComments())
        <p>$comment.getUserName(): $comment.getText()
        <br>    Likes: $comment.like()   DisLikes: $comment.disLike()
        </p>

    #end
    </div>
    #else
    <h1>404</h1>
    <h1>NOT FOUND!</h1>
    #end
#end